services:
  postgres:
    image: postgres:18
    container_name: postgres-senhas
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: 1234
      POSTGRES_DB: postgres
    ports:
      - "5555:5432"
    volumes:
      - pgdata:/var/lib/postgresql

volumes:
  pgdata:
